body {
  background: #f9f9f9;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.content {
  display: table-row;
  height: 100%;
  position: relative;
}

.container-fluid {
  max-width: 1140px;
  margin: 0 auto;
}

.content {
  padding-bottom: 20px;
}

.invalid-feedback {
  display: block;
}

.card {
  &-footer {
    background-color: transparent;

    &__link {
      color: black;

      & > * {
        cursor: pointer;
      }
    }
  }

  &-img {
    &--height {
      max-height: 400px;
      object-fit: cover;
    }
  }
}

.nav-link {
  cursor: pointer;
}

.movie {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      > * {
        vertical-align: bottom;
      }
    }
  }
}

.icon {
  cursor: pointer;
}

.spinner {
  &--center {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}
