.container-fluid {
  max-width: 1140px;
  margin: 0 auto;
}

.invalid-feedback {
  display: block;
}

.card {
  &-footer {
    &__link {
      color: black;

      & > * {
        cursor: pointer;
      }
    }
  }
}
